*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url('/Assets/bg-1.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.main{
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
}



.icon{
    width: 400px;
    float: left;
    height: 70px;
}

.logo{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu ul li a{
    text-transform: uppercase;

}
.menu{
    width:200px;
    float: left;
    height: 70px;
}

ul{
    float:left;
    display: flex;
    justify-content: center ;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #7550A6;
}

.search-bar{
    /* width: 200px; */
    float: left;
    margin-left: 100px;
    float: right;
    align-items: center;
    /* margin-top: 50px; */
}

.search-field {
    font-family: Arial;
    width:150px;
    height: 40px;
    background: transparent;
    border: 1px solid #7550A6;
    margin-top: 15px;
    /* border-right: none; */
    font-size:16px;
    float:left;
    padding: 10px;
    /* border-bottom-left-radius:5px;
    border-top-left-radius:5px; */
    border-radius: 5px;
    float: right;
    background-color: aliceblue;
    background-color: transparent 0.5;
}

.search-btn{
    width: 50%;
    height: 40px;
    background:rgb(35, 35, 35);
    border: solid 2px rgb(56, 56, 56);
    margin-top: 10px;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 5px;
    float: right;
}

.search-btn:focus{
    outline: none;

}

.search-field:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: whitesmoke;
    position: relative;
}

.content p{
    padding: 20px;
    padding-bottom:25px;
    font-family: Arial;
    letter-spacing: 1.3px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;    
}

.content .btn-2{
    width: 160px;
    height: 40px;
    background:#1b7ebf;
    border:none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.content .btn-2 a{
    font-size: 16px;
    text-decoration: none;
    color:black;
    font-family: bold;
    font-family: Arial;
    transition: .3s ease;
}

.btn-2:hover{
    /* background-color: whitesmoke; */
    background: rgb(100,158,200);
    background: linear-gradient(90deg, rgba(100,158,200,1) 0%, rgba(137,111,244,1) 78%, rgba(0,185,255,1) 100%);
}

.content span{
    color:#1b7ebf;
}

.course {
    color: white;
    text-decoration: underline;
    text-decoration-color: #FF5733; /* Change to your desired underline color */
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 50%) ;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 22px;
    background-color:#1c2833;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 245px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #1b7ebf;
    border-top:1px solid #1b7ebf;
    border-top:none;
    border-right: none;
    border-left: none;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 35px;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: whitesmoke;
    font-family: Arial;

}

.btn-3{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    background: #1b7ebf;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    transition:0.2s ease-in;
}

.btn-3:hover{
    background: whitesmoke;
}

.btn-3 a{
    text-decoration: none;
    color:#17202a;
    font-weight: bold;
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #1b7ebf;

}

.login-with{
    /* padding-top:5px;
    padding-bottom: 5px; */
    text-align: center;
}

